<% include ../partials/header_login     %>
    <style>
        body {
            background: #f6f5f3 !important;
        }
    </style>
    <div class='row whiteBackground' > 
        <div class="col-lg-12 col-md-12 col-sm-12  header_on_login">
            <div style="width: 350px!important;" class="btn btn-outline-secondary">
                <i class="fas fa-folder-open folder_icon float-left"></i> 
                <a class='no_link_outlook' href='/all_Courses'>
                  <div  class='col-lg-6 col-md-6 col-sm-6 '>
                    ВЫБРАТЬ КАТЕГОРИЮ   <br> КУРСА ВИРТУАЛЬНОГО ОБУЧЕНИЯ
                  </div>
                </a>  
            </div>  
        </div>
    
         <% include ../partials/landing/header    %>  
    </div>
    
    <div class='row marginTop'>
        
        <!-- Category selecting DropDown -->
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 all_lessons_select">
       
            <div  class="form-group">
                
                    <label>Категория Урока</label>
                        <select id='selector_for_course' name='category' class='form-control' value=''>
                             <% categories.forEach(function(category){ %>
                             <option><%=category%></option>
                             <% }) %>
                        </select>
            </div>
              
        </div>
         <!-- END of Category selecting DropDown -->
         
        <!-- All Courses -->
        <div class='col-lg-8 col-md-8 col-sm-12 col-xs-12 whiteBackground' id='wrapper_for_courses_list'>
        
            <% course.forEach(function(course){ %>
                <div class="paragraphs">
                    <div class="row">
                        <div class="span4">
                          <a href='all_courses/<%= course._id %>'><img class='course_description_image' src='/images/<%= course.image %>.jpg' /> </a>
                          <div class="content-heading"><h4><%= course.title %></h4></div>
                          <p><%= course.description %></p>
                            <div>
                                <div class='course_button float-left'><img class='button_icon1' src='https://s3-eu-west-1.amazonaws.com/andop.online/icons/price_icon.png' />Стоимость</div>
                                <!-- Button trigger modal -->
                                <div type="button" data-toggle="modal" data-target="#Course_Content_Modal" class='course_button float-left'><img class='button_icon1' src='https://s3-eu-west-1.amazonaws.com/andop.online/icons/soderjanie.png'/> Содержание</div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="Course_Content_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                      <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalCenterTitle"><%= course.title %></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                           <p><%= course.description %></p>
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                <div class='course_button float-left'><img class='button_icon1' src='https://s3-eu-west-1.amazonaws.com/andop.online/icons/certificate.png'/> Сертификат</div>
                                <div type="button" data-toggle="modal" data-target="#Course_Purchase_Modal"  class='course_button float-left'><img class='button_icon1' src='https://s3-eu-west-1.amazonaws.com/andop.online/icons/purchase.png'/> Купить курс</div>
                                <!-- Modal -->
                                    <div class="modal fade" id="Course_Purchase_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                      <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalCenterTitle">Купить Курс</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                            ...
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div> 
                   
             <% }) %>
            
        </div>
        <!-- END of All Courses -->    
        
    </div>
 
  <script>
  
    $('#selector_for_course').on('change', function() {
         
        selectedCat=this.value;
        // alert( selectedCat );
            axios.get('/selected_courses', {
                params: {
                    category: selectedCat
                    } 
            }).then(function (response) {
                    rebuildList(response.data);
                })  
    });
       function rebuildList(response) {
            document.getElementById('wrapper_for_courses_list').innerHTML=' ';
            response.forEach(function(courses){
                // alert(courses.title)
                let node =  ` <div class='paragraphs course_list_wrapper'>
                                <div class='row'>
                                    <div class='span4'>
                                             <a href='all_courses/${courses._id}'> <img class='course_description_image' src='/images/${courses.image}.jpg' /> </a>
                                            <div class='content-heading'>
                                            <h4>${courses.title}</h4>
                                            </div>
                                            <p>${courses.description}</p>
                                            <div class='course_list_buttons'>
                                            <button><img />Стоимость</button>
                                            <button><img /> Содержание</button>
                                            <button><img /> Сертификат</button>
                                            <button><img /> Купить курс</button>
                                            </div>
                                    </div>
                                </div>
                            </div> `
                $('#wrapper_for_courses_list').append(node);
            })
            
        }

                   
    
 
  </script>
 
 
<% include ../partials/footer     %>