<% include ../partials/header_login     %>
<style>
    body {
        background: #eeeeee;
        margin: 0;
        padding:  0;
    }
</style>
<div class='login_page_wrapper'>


    <div class='row'> 
        <div class="col-lg-12 col-md-12 col-sm-12 whiteBackground">
             <h2 class='header_on_login '> ДОБРО ПОЖАЛОВАТЬ НА ОНЛАЙН КУРСЫ </h2>  
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 profile_header1">
                    <div class="float-left">
                          <img width='50px' src='/images/logo.png' class='float-left '> 
                          <h4 class='float-left shiftFromLeft'>ACADEMY OF <br> NUTRITION AND DIET  </h4> 
                    </div>
                    <a href='user/<%-currentUser._id%>'> <img width='5%' src='/images/user.png' class='float-right profilePhoto'>  </a>
         </div> 
    </div>
    
    <div class='row marginTop'>
        
        <!-- Category selecting DropDown -->
        <div class="all_lessons_select">
       
            <div  class="form-group">
              <label>Категория Урока</label>
                    <select class='form-control'>
                         <% courses_list.forEach(function(course){ %>
                         <option><%=course.title%></option>
                         <% }) %>
                    </select>
            </div>
              
        </div>
         <!-- END of Category selecting DropDown -->
        
        <!-- All Courses -->
        <div id='wrapper_for_courses_list'>

            <% lessons.forEach(function(lesson){ %>
                <div class="all_lessons_select_list">
                    <div class='row course_list_wrapper'> 
                        <a href='all_lessons/<%- lesson._id %>'><img class='col-md-4 course_description_image' src='/images/<%= lesson.image %>.jpg'></a>
                        <div class='col-md-7'>
                            <h4><%= lesson.title %></h4>
                            <p><%= lesson.description %></p>
                        <div>
                    </div>
                </div>
            </div>
            <% }) %>
            
        </div>
        <!-- END of All Courses -->    
        
    </div>
  
</div>


<script>
  
    $('#all_lessons_select').on('change', function() {
         
        var selectedCourse=this.value;
        alert( selectedCourse );
            axios.get('/selected_lessons', {
                params: {
                    course: selectedCourse
                    } 
            }).then(function (response) {
                    rebuildList(response.data);
                })  
    });
    
    
    function rebuildList(response) {
            document.getElementById('wrapper_for_courses_list').innerHTML=' ';
            response.forEach(function(courses){
                alert(courses.title)
                let node = `<div class='all_lessons_select_list'> 
                           <div class='row course_list_wrapper'> 
                            <a href='/all_lessons/${courses._id}'> 
                            <img class='col-md-4 col-lg-4 col-xs-12 course_description_image' 
                             src='/images/${courses.image}.jpg'></a> 
                             <div class='col-md-7 col-lg-7 col-xs-12'> 
                             <h4> ${courses.title} </h4> 
                              <p> ${courses.description}  </p> 
                         </div> 
                     </div> 
                 </div> `
                $('#wrapper_for_courses_list').append(node);
            })
            
    }
 
    
 
  </script>
  
  
  <% include ../partials/footer     %>
  
  